<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Dan Volk</h1>
    <h2>Thank you for choosing to register</h2>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Please fill out the information below , and I will get in touch with you as soon as possible.  If you have any questions and would like to contact me directly , my cell # is ...
  </div>
  <hr>
  <div class="row">
    <div style=text-align:center>
	<label>Name:</label> <input></input></br>
	</br>
	<label>Email:</label> <input></input></br>
    </br>
	<label>Phone:</label> <input></input> </br>
	</br>
	<button>Register</button>
    </div>
  </div> <!-- row -->
</div>

</body>
</html>
